{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

<div class="container" >

<h1>Liste des articles</h1>
<br>

<br>
<div class="table-responsive">

  {% for article in articles %}

         
   <h2>Article n°{{article.id}}</h2><br>
   <h5>Titre de l'article :{{article.title}}</h5><br>
   <h5>Contenu :{{article.body}}</h5><br>
    <a href="{{path('app_delete')}}" class="button">Supprimer</a>
   {% for commentaire in commentaires %}
      {% if commentaire.postId == article.id %}
      <h6>commentaire n°:{{commentaire.id}}<br></h6>
      <h6>contenu du commentaire  :{{commentaire.body}}<br></h6>
      <h6>nom  :{{commentaire.name}}<br></h6>
      <h6>mail  :{{commentaire.email}}<br></h6>
     {% endif %} 
   {% endfor %}   
    
 {% endfor %} 

 </div>
</div>
</div>
 

 
{% endblock %}
