{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}

<div class="container" >

<h1>Liste des articles</h1>
<br>

<br>
<div class="table-responsive">

  {% for article in articles %}

         
   <h2>Article n°{{article.id}}</h2><br>
   <h5>Titre de l'article :{{article.titre}}</h5><br>
   <h5>Contenu :{{article.contenu}}</h5><br>
   <h5>Auteur :{{article.auteur}}</h5><br>
   <h5>Ecrit le :{{article.dateDePublication}}</h5><br>
    <a href="{{path('app_delete')}}" class="button">Supprimer</a>
    
    
 {% endfor %} 

 </div>
</div>
</div>
 

 
{% endblock %}
